@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'roboto', sans-serif;

}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



a {
    text-decoration: none;
    color: #fff
}

p {
    margin-bottom: 24px;
}

h4 {
    font-size: 48px;
}

h3 {
    margin-bottom: 16px;
    font-size: inherit;
}


.link__hover--effect {
    position: relative;
}

.link__hover--effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    background-color: #fff;
    transition: all 300ms ease;
}

.link__hover--effect:hover:after {
    left: 0;
    width: 100%;
}

.row {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.container {
    padding: 96px 0;
}



li {
    list-style-type: none;
}

ul {
    display: flex;
    align-items: center;
}

.white {
    color: #fff
}

.blue {
    color: rgba(0, 89, 255, 0.986);
    font-weight: 600;
}

.yellow {
    color: rgba(255, 217, 0, 0.986);
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

/*    LANDING PAGE  */
.container_outer {
    position: fixed;
    left: 0;
    right: 0px;
    top: 8px;
    height: 64px;
    border: none;
    transition: all ease 700ms;
    z-index: 50;
}

.floating-nav {
    background-color: #242424;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    margin: 0 auto;
}

.logo {
    color: #FFD700;
    max-width: 200px;
    max-height: 50px;
}

.link__list {
    display: flex;
}

.nav__link {
    margin-right: 24px;
    font-size: 20px;
    font-weight: bold;
}

.filter__menu {
    color: #000;
    background-color: #FFD700;
}

.filter__button {
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: all 300ms ease;
}

.grid_container {
    width: 100%;
    height: 100%;
    display: grid;

}

.boxNum {
    font-size: 12px;
}

.box {
    height: 50px;
    width: 50px;
    background-color: rgba(8, 107, 255, 0.897);
}

.filter__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.filter--open {
    height: 100vh;
    overflow-y: hidden;
}

.filter--open .filter__backdrop {
    transition: all 1ms ease;
    opacity: 1;
    visibility: visible;
}

.filter__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 40;
    font-size: 48px;
    color: #FFD700;
    background-color: transparent;
    cursor: pointer;
    border: none;
    transition: all 300ms ease;
}

.filter__menu--close:hover{
    color: #fff;
}

.filter__button:hover {
    background-color: #ffffff;
     transform: scale(1.05);
}

.filter__choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.filter__choice--text {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.filter__choice--button {
    margin: 16px 0;
    padding: 24px 48px;
    color: #000;
    font-size: 24px;
    font-weight: 500;
    background-color: #FFD700;
    border-radius: 24px;
    border: 3px solid #fff;
    cursor: pointer;
    transition: all 300ms ease;
}

.filter__choice--button:hover{
   background-color: #fff;
   border: 3px solid #000;
}



header {
    top: 50%;
    transform: translateY(-50%);
    height: 64px;
    background-color: #24242467;
    position: absolute;
    width: 100%;
}

.landing__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.searchbar__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 0 96px 0;
}

.landing__text--header {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 16px;
}

.search__wrapper {
    position: relative;
    width: 1000px;
    margin: 4px;
}

.search__bar {
    width: 100%;
    color: #fff;
    border: 3px solid #FFD700;
    font-size: 16px;
    padding: 8px 24px;
    border-radius: 15px;
    outline: none;
    background-color: #0000008f;
    position: relative;
    transition: all 300ms ease;
    z-index: 50
}

.search__bar::placeholder {
    opacity: 0.5;
    color: #fff;

}

.search__bar:hover {
    border: 3px solid #ffd900bd;
}

.search__bar:focus {
    border: 3px solid #ffffff;
}

.icon__wrapper {
    position: absolute;
    opacity: 0.5;
    font-size: 24px;
    color: #ffffff;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 8px 8px;
    z-index: 100;
}

#home {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 0 32px;
}

/*

Carousel 

*/



.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 16px;
}

.carousel__container {
    margin-bottom: 16px;
}

.carousel__track {
    display: flex;
    transition: transform 0.5s cubic-bezier(.77, 0, .18, 1);
    width: 100%;
}

.slide {
    /* 3 slides visible at once */
    padding: 0 8px;
    transition: transform 0.5s;
}

.arrow {
    color: #FFD700;
    font-size: 30px;
    margin: 16px 0;
    cursor: pointer;
    transition: color 0.2s;
    z-index: 2;
}

.arrow:disabled {
    color: #888;
    cursor: not-allowed;
}

.carousel__dots {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.carousel__dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #FFD700;
    opacity: 0.4;
    margin: 0 4px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.carousel__dot:hover {
    background-color: #fff;
    opacity: 1;
}

.carousel__dot.active {
    opacity: 1;
    background: #FFD700;
}

/*

MOVIE LIST SECTION

*/

.default__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.film-one {
    position: absolute;
    top: 10%;
    left: 30px;
    rotate: -10deg;
    height: 200px;
    max-width: 950px;
    width: 100%;
    display: flex;
    z-index: 0;
}

.film-two {
    position: absolute;
    rotate: -10deg;
    bottom: 0;
    right: 2%;
    height: 200px;
    max-width: 900px;
    width: 100%;
    display: flex;
    z-index: 0;
}

.no-title {
    font-size: 96px;
    z-index: 40;
    color: #fff;
}

section {
    background: linear-gradient(0.95turn, #FFD700, #0004f8, #FFD700);

}

#movies__main {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 0 32px;
}



input[type="search"]::-webkit-search-cancel-button {
    position: relative;
    right: 20px;

    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
    background-color: #fff;
}

input[type="search"]:focus::-webkit-search-cancel-button {
    opacity: 1;
    pointer-events: all;
}


.results {
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
}

.movies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 36px;
}

.movie__stack {
    width: calc(100% / 5);
    margin: 16px 16px;
    text-align: center;
    transition: all 300ms ease;
    cursor: pointer;
    background-color: rgba(49, 49, 49, 0.432);
    border-radius: 10px;
    z-index: 40;
}

.movie {
    z-index: 40;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 300ms ease;
    cursor: pointer;
    background-color: rgba(41, 40, 40, 0.329);
    border-radius: 10px;
}

.movie__list--poster {
    max-height: 300px;
    width: 100%;
    padding: 8px;
    border-radius: 10px;
}

.movie:hover,
.movie__stack:hover {
    box-shadow: 0 8px 16px 0 #ffffff;
    filter: brightness(60%);
    transform: scale(1.1);
}

.movie:active {
    transform: scale(0.8);
}

.movie__description {
    font-size: 16px;
    font-weight: 700;
}

.movie__skeleton {
    display: flex;
    transition: all 300ms ease;
}

.skeleton__body {
    margin: 16px 16px;
    transition: all 300ms ease;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
}

.skeleton1 {
    animation: skeleton1 750ms alternate 350ms infinite running;
}

.skeleton2 {
    animation: skeleton2 750ms alternate 400ms infinite running;

}

.skeleton3 {
    animation: skeleton3 750ms alternate 450ms infinite running;

}

.skeleton4 {
    animation: skeleton4 750ms alternate 500ms infinite running;

}

@keyframes skeleton1 {
    0% {
        background-color: #fff;
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(40px);
        background-color: #fff;
    }

}

@keyframes skeleton2 {
    0% {
        background-color: #fff;
        transform: translateY(-45px);
    }

    100% {
        transform: translateY(45px);
        background-color: #fff;
    }
}

@keyframes skeleton3 {
    0% {
        background-color: #fff;
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(50px);
        background-color: #fff;
    }

}

@keyframes skeleton4 {
    0% {
        background-color: #fff;
        transform: translateY(-55px);
    }

    100% {
        transform: translateY(55px);
        background-color: #fff;
    }
}




.page__list {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.page__button {
    color: #FFD700;
    font-size: 48px;
    cursor: pointer;
    margin: 0 6px 0 0;
    transition: all 300ms ease;
    text-align: center;
}

.page__button:hover {
    color: #fff;
}

.total-pages {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    margin: 0;
}


/* 


TV LIST SECTION 


*/

.shows {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 36px;
}

.show {
    z-index: 40;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 300ms ease;
    cursor: pointer;
    background-color: rgba(49, 49, 49, 0.432);
    border-radius: 10px;
}

.show__stack {
    width: calc(100% / 6);
    margin: 16px 16px;
    text-align: center;
    transition: all 300ms ease;
    cursor: pointer;
    background-color: rgba(49, 49, 49, 0.432);
    border-radius: 10px;
    z-index: 40;
}

.show__list--poster {
    max-height: 300px;
    width: 100%;
    padding: 8px;
    border-radius: 10px;
}

.show:hover,
.show__stack:hover {
    box-shadow: 0 8px 16px 0 #ffffff;
    filter: brightness(60%);
    transform: scale(1.1);
}

.show:active {
    transform: scale(0.8);
}

.show__description {
    font-size: 16px;
    font-weight: 700;
}

.tagline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/*

 TV SHOW SECTION


*/

#tv__main {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 0 32px;

}



/*

SINGLE MOVIE SECTION

*/
#movie__info {
    padding: 0 32px;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.back__button--wrapper {
    padding: 0 0 24px 0;
}

.back__button {
    background-color: #FFD700;
    border: 2px solid #000;
    color: #000;
    padding: 8px 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 300ms ease;
    font-weight: 500;
    font-size: 16px;
}

.back__button:hover {
    background-color: #ffffffaf;
    transform: scale(1.05);
}

.movie__description--single {
    margin-top: 24px;
    padding: 50px 0;
}

.movie__description--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.movie__title--single {
    font-size: 32px;
    font-weight: 900;
}

.movie__rating {
    padding-right: 24px;
    display: flex;
    align-items: center;
}

.fa-star {
    color: #FFD700;
}

.movie__wrapper {
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}


.movie__description--poster {
    width: 50%;
    display: flex;
    justify-content: center;

}


.movie__poster {
    max-width: 400px;
    border-radius: 24px;
}


.movie__description--text {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.sub-heading {
    padding: 0px 16px 0 0;
    font-size: 18px;
}

.movie__plot {
    line-height: 2;
}

.clip {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    display: flex;
    justify-content: center;
}

.trailer__wrapper {
    display: flex;
    justify-content: center;
}

.trailer--button {
    background-color: #FFD700;
    font-size: 24px;
    padding: 8px;
    border-radius: 16px;
    border: 4px solid #000;
    cursor: pointer;
    transition: all ease 350ms;
}

.trailer--button:hover {
    background-color: #ffffffaf;
    transform: scale(1.05);
}


/*

FOOTER

*/

footer {
    background-color: #242424;
    padding: 2% 0;
    z-index: 2;
}

.footer__container {
    padding: 50px 0
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer__logo--img {
    width: 300px;
}

.footer__copyright {

    color: white;
    margin: 16px 0 0 0;

}

@media(min-height: 1280px) {
    .movie {
        width: 100%;
        ;
    }

    .movie__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .movie__description--text {
        line-height: 2.5;
    }

    .movie__description--poster {
        padding: 0 0 32px 0;
        margin-bottom: 16px;
    }
}







@media(min-height: 1920px) {
    .movie {
        width: calc(100%/5);
    }

}

@media(max-width: 1024px) {
    .search__wrapper {
        width: 700px;
    }

    .movie__poster {
        max-width: 300px;
    }
}

@media(max-width: 768px) {
    .container{
        padding: 96px 16px;
    }

    .movie__stack,
    .show__stack {
        width: calc(100%/4);
    }

    .landing__text--para {
        font-size: 16px;
    }

    .landing__text--header {
        font-size: 40px;
    }

    .reset__button {
        padding: 8px 42px;
    }

    .movie__description,
    .show__description {
        font-size: 12px;
        padding: 0px 8px;
    }

    h3 {
        margin-bottom: 8px;
    }


    .search__wrapper {
        width: 550px;
    }

    .page__link {
        font-size: 18px;
    }

    .movie__title--single {
        font-size: 24px;
    }

    .movie__wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .sub-heading {
        font-size: 16px;
    }

    .movie__description--text {
        width: 100%;
        line-height: 2;
        margin-top: 24px
    }

    .film-one {
        max-width: 700px;
    }

}

@media(max-width: 550px) {

    .movie__stack,
    .show__stack {
        width: calc(100%/3);
    }

    .page__button {
        color: #0004f8;
    }

    .logo {
        max-width: 150px;
        max-height: 50px;
    }

    .movie__description--header {
        flex-direction: column;
    }

    .movie__rating {
        padding: 8px 0 0 0;
    }

    .movie__title--single {
        font-size: 20px;
    }

    .landing__text--header {
        font-size: 32px;
    }

    .search__wrapper {
        width: 350px;
    }

    .reset__button {
        padding: 16px 50px;
    }

    .no-title {
        font-size: 72px;
    }

    .film-one {
        max-width: 400px;
        left: 0;
    }

    .film-two {
        max-width: 400px;
        left: 0;
    }

    .movie {
        padding: 0;
    }






    .footer__logo--img {
        width: 200px
    }

}